<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../static/Tela Receitas/styles.css" />
</head>

<body>
  <header>
    <div class="logo">APAE</div>
    <h1>Receitas</h1>
    <div class="accessibility">☺︎</div>
  </header>

  <div class="content">
    <div class="mascot">
      <img src="../../static/img/logoBiscoitoDivertido.png" alt="Logo do biscoito" />
    </div>

    <div class="title">Escolha sua receita</div>
    <div class="subtitle">Selecione uma das opções abaixo</div>

    <div class="menu menu-column">
      <button id="baunilhaBtn">
        <img src="../../static/img/biscoitos.png" alt="Biscoito Baunilha" />
        Biscoito Baunilha
      </button>
      <button id="chocolateBtn">
        <img src="../../static/img/biscoitoChocolate.png" alt="Biscoito Chocolate" />
        Biscoito Chocolate
      </button>
      <button id="queijoBtn">
        <img src="../../static/img/biscoitoQueijo.png" alt="Biscoito Queijo" />
        Biscoito Queijo
      </button>
    </div>

    <div id="recipeModal" class="modal">
        <div class="modal-content">
        <span class="close" id="modalClose">&times;</span>
        <div id="modal-text">Receita aqui</div>
        </div>
    </div>

    <div class="back">
      <button onclick="window.history.back()">Voltar</button>
    </div>
  </div>

  <script src="/receitaJs"></script>
</body>

</html>
